a.out
sbox.txt
build/
*.enc
*.so
__pycache__/

template/_settings.aux
template/chap_1.log
template/thesis_template.aux
template/thesis_template.loa
template/thesis_template.lof
template/thesis_template.log
template/thesis_template.lol
template/thesis_template.lot
template/thesis_template.out
template/thesis_template.synctex.gz
template/thesis_template.toc
thesis/_settings.aux
thesis/references.bib~
thesis/references.bib~2
thesis/references.bib~3
thesis/thesis.aux
thesis/thesis.loa
thesis/thesis.lof
thesis/thesis.log
thesis/thesis.lol
thesis/thesis.lot
thesis/thesis.out
thesis/thesis.pdf
thesis/thesis.synctex.gz
thesis/thesis.toc

